.main{
    &__login{
        display: flex;
        flex-direction: column;
        padding: 10px;
        height: 1000px;
        
    }
    .input_sesion{
        @include sizing(30%);
    }

}
@media(max-width: 720px) {
    .main{
        &__login{
            height: 720px;
        }
        .input_sesion{
            @include sizing(100%);
        }
    }
}
   