.main{
    &__sesion{
        display: flex;
    }
    &__login{
        display: flex;
        flex-direction: column;
        padding: 10px;
        height: 500px;
        
    }
    &__registro{
        display: flex;
        flex-direction: column;
        padding: 10px;
        height: 500px;
    }
    .input_sesion{
        @include sizing(30%);
    }
    &__titulo{
        height: 720px;
    }

}
@media(max-width: 720px) {
    .main{
        &__login{
            height: 720px;
        }
        .input_sesion{
            @include sizing(100%);
        }
        &__titulo{
            height: 200px;
        }
    }
}
   